body{
    background-color: white;
    display: grid;
    border: 1px solid black;
    gap: 5px;
    grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
}
.caja{
    display: grid;
    border: 1px solid black;
    overflow: scroll;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.contenedor .caja .frase {
    border: 1px solid black;
    margin-top: 1cm;
    margin-left: 1cm;
    margin-bottom: 1cm;
    margin-right: 3px;
    text-align: justify;
    
}
.contenedor .caja .imagen {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin-top: 1cm;
    margin-right: 1cm;
    margin-left: 14px;
    margin-bottom: 1cm;
    background-image: url('https://d1ih8jugeo2m5m.cloudfront.net/2021/11/E5CD8B74-3390-4A81-B30F-23BEE9CE5E09.jpeg');
    background-size: cover;
    background-position: center;
    
}
.contenedor .caja .imagen img{
    margin: 0 auto;
    width: 80%;
}
.contenedor{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: 22rem;
    
}
